*{
    margin: 0; padding : 0;
}

body{
    margin:0;
}

#domain{       
    border:0;
    margin:0;
    padding : 0;
    text-align: center;
    height : 180px;
}

#domain > h1 a{
    text-decoration: none;
    font-size: 3em;
    line-height: 180px;
    color: #3754d6;
}

#nav{
    position : sticky;
    top :0;
    
}
        
#nav ul{
    background-color: white;
    box-shadow : 0px 4px 4px -4px darkgrey;
    margin: 0;
    padding: 0;
    list-style-type:none;
    text-align: center;
}

#nav ul li{
    display: inline-block;
    margin: 20px;
}

#nav ul li a{
    text-decoration: none;
    font-weight: bold;
    color:black;
}

#nav ul li a:hover{
    color: #3754d6;
}


.title{
    margin-left: 5px;
    font-size:larger;
    font-weight: bold;
}

footer{
    margin-top: 15px;
    font-size: smaller;
    background-color: rgb(34, 35, 39);
    color:lightgrey;
    float:left;
    width:100%; 
    bottom:0;   
    text-align: center;
}

footer div a{
    text-decoration: none;
    color:darkgrey;
    font-weight:bold;
}

#main{
    margin-left: 30px;
}